{% extends "layout.html" %}
{% from "_macros.html" import aside with context %}
{% from "profile/_macros.html" import nav with context %}

{% block aside %}
  {{ aside() }}
{% endblock %}

{% block nav %}
  {{ nav("show") }}
{% endblock %}

{% block header %}
{% endblock %}

{% block section %}
  <section id="profile">
    <form action="/profile" method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
         
      <div class="group">      
        <fieldset>
          <label>Name:</label>
          <input type="text" name="name" value="{{ user.name }}" required />
        </fieldset>
  
        <fieldset>
          <label>E-Mail:</label>
          <input type="email" name="email" value="{{ user.email }}" required />
        </fieldset>
        
        <fieldset>
          <input type="submit" value="Update" />
        </fieldset>
      </div>
    </form>

    <form action="/profile/password" method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

      <div class="group">      
        <fieldset>
          <label>Password:</label>
          <input type="password" name="password" minlength="6" required />
        </fieldset>
  
        <fieldset>
          <label>Confirmation:</label>
          <input type="password" name="confirmation" required />
        </fieldset>
        
        <fieldset>
          <input type="submit" value="Update" />
        </fieldset>
      </div>
    </form>

    <!--
    <form action="/profile/import" method="post" enctype="multipart/form-data">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
         
      <div class="group">      
        <fieldset>
          <label>Select a file</label>
          <input id="upload_file" name="file" type="file" required />
        </fieldset>

        <fieldset>
          <input type="submit" value="Import" />
        </fieldset>
      </div>
    </form>

    <form action="/profile/export" method="post" target="_blank">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        
      <div class="group">
        <fieldset>
          <label class="checkbox">
            <input type="checkbox" name="option" value="uploads">
            <p>Include uploads</p>
          </label>
        </fieldset>

        <fieldset>
          <label class="checkbox">
            <input type="checkbox" name="option" value="gallery">
            <p>Include gallery</p>
          </label>
        </fieldset>
        
        <fieldset>
          <label class="checkbox">
            <input type="checkbox" name="option" value="diashows">
            <p>Include diashows</p>
          </label>
        </fieldset>
        
        <fieldset>
          <label class="checkbox">
            <input type="checkbox" name="option" value="tasks">
            <p>Include tasks</p>
          </label>
        </fieldset>

        <fieldset>
          <label class="checkbox">
            <input type="checkbox" name="option" value="multimedia">
            <p>Include multimedia index</p>
          </label>
        </fieldset>
        
        <fieldset>
          <input type="submit" value="Export">
        </fieldset>
      </div>
    </form>
    -->
  </section>
{% endblock %}
