{% extends "layout.html" %}
{% from "_macros.html" import aside with context %}
{% from "profile/_macros.html" import nav with context %}

{% block aside %}
  {{ aside() }}
{% endblock %}

{% block nav %}
  {{ nav("show") }}
{% endblock %}

{% block header %}
{% endblock %}

{% block section %}
  <section id="profile" class="content show">
    <form action="/profile" method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

      <div class="group">
        <fieldset class="error">
          <label>Username:</label>
          <input type="text" name="name" value="{{ user.name }}" autofocus required>
          <p class="error">A unique username</p>
        </fieldset>

        <fieldset class="error">
          <label>E-Mail:</label>
          <input type="email" name="email" value="{{ user.email }}" required>
          <p class="error">A valid contact address</p>
        </fieldset>

        <fieldset>
          <input type="submit" value="Update">
        </fieldset>
      </div>
    </form>

    <form action="/profile/password" method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

      <div class="group">
        <fieldset class="error">
          <label>Password:</label>
          <input type="password" name="password" minlength="6" maxlength="42" required>
          <p class="error">A password of at least 6 chars</p>
        </fieldset>

        <fieldset class="error">
          <label>Confirmation:</label>
          <input type="password" name="confirmation" required>
          <p class="error">Repeating the password</p>
        </fieldset>

        <fieldset>
          <input type="submit" value="Update">
        </fieldset>
      </div>
    </form>
  </section>
{% endblock %}
