{% extends "layout.html" %}
{% from "_macros.html" import aside, tinymce with context %}
{% from "multimedia/_macros.html" import nav, header, popup with context %}

{% block aside %}
  {{ aside() }}
{% endblock %}

{% block nav %}
  {{ nav("show") }}
{% endblock %}

{% block header %}
  {{ header() }}
{% endblock %}

{% block section %}
  <section id="multimedia" class="content show">
    <nav>
      {% for item in media_types %}
        <form action="{{ url_for('multimedia.show') }}" method="get">
          <input type="hidden" name="ref" value="{{ item.value}}">
          <button type="submit" class="{{ 'active' if ref == item.value }}">{{ item.name }}</button>
        </form>
      {% endfor %}
    </nav>
    <main>
    {% for category in multimedia %}
      {% set index = loop.index %}
      <section id="mc{{ loop.index }}" class="categories">
        <h2 onclick="media_toogle(event, '{{ index }}')">{{ category.category }}</h2>
        <div id="media{{ index }}" class="media">
          {% for media in category.media %}
            <div class="main">
              <section class="description">
                <table onclick="media_toogle(event, '{{ index }}')">
                  <tr>
                    <td><p title="{{ media.title }}">Title:</p></td>
                    <td><p title="{{ media.title }}">{{ media.title }}</p></td>
                  </tr>

                  <tr>
                    <td><p title="{{ media.director }}">Director:</p></td>
                    <td><p title="{{ media.director }}">{{ media.director }}</p></td>
                  </tr>

                  <tr>
                    <td><p title="{{ media.year }}">Year:</p></td>
                    <td><p title="{{ media.year }}">{{ media.year }}</p></td>
                  </tr>
                </table>
              </section>

              {% if media.capture %}
                <section class="capture" onclick="media_toogle(event, '{{ index }}')">
                  <img data-src="{{ media.capture }}" alt="{{ media.title }}">
                </section>
              {% endif %}

              <section style="flex-grow:1;">
              </section>

              {% if media.actors %}
              <section class="description">
                <table onclick="media_toogle(event, '{{ index }}')">
                  {% for actor in media.actors[0:4] %}
                    <tr>
                      <td><p>{{ actor }}</p></td>
                    </tr>
                  {% endfor %}
                </table>
              </section>
              {% endif %}

              <section style="flex-grow:1;">
              </section>

              <section class="nav">
                <form action="{{ url_for('multimedia.view', uuid = media.uuid, _anchor = 'mc' ~ index) }}" method="get">
                  <input type="hidden" name="ref" value="{{ ref }}">
                  <input type="submit" value="Play">
                </form>
              </section>
            </div>
          {% endfor %}
        </div>
      </section>
    {% endfor %}
    </main>
  </section>

  <script>
    let hash = window.location.hash.substr(1);
    window.onload = (e) => {
      if (hash) { media_toogle(e, hash.split('mc').pop()); }
    };
  </script>
{% endblock %}
