{% extends "plain.html" %}

{% block head %}
  {{ super() }}
  <link href="{{ url_for('static', filename='styles/diashow.css') }}" media="all" rel="stylesheet" type="text/css">
{% endblock %}

{% block section %}
  <main id="main">
    <div class="slide">
      <div class="header"></div>
      <div class="animation">
        <div class="progress">
          <div class="bar"></div>
          <div class="status"></div>
        </div>
      </div>
      <div class="footer"></div>
    </div>
  </main>
{% endblock %}

{% block footer %}
  <script type="module">
    import { Diashow } from '{{ url_for("static", filename="scripts/diashow.js") }}';

    window.onload = (event) => {
      let files = [];
      let screen = document.getElementById('main');

      {% for file in diashow.files %}
        var file = { 'index': '{{ loop.index }}'
                   , 'title': '{{ file.title }}'
                   , 'description': '{{ file.description | tojson }}'
                   , 'path': '{{ url_for('gallery.diashow_download', uuid = diashow.uuid, uid = file.uid, _external = True) }}'
                   , 'img': new Image()
                   };

        files.push(file);
      {% endfor %}

      let diashow = new Diashow(files, () => {
        // Clear screen for slides
        screen.innerHTML = '';

        files.forEach((file) => {
          let slide = document.createElement('div');
          slide.id = 'slide-' + file.index;
          slide.className = 'slide';

          let header = document.createElement('div');
          let content = document.createElement('div');
          let footer = document.createElement('div');
          header.className = 'header';
          content.className = 'content';
          footer.className = 'footer';

          content.onclick = (event) => {
            if (parseInt(file.index) == files.length) window.location.href= '#slide-1';
            else window.location.href = '#slide-' + (parseInt(file.index) + 1);
          };

          let back = document.createElement('button');
          back.innerText = 'Back';
          header.appendChild(back);
          back.onclick = (event) => {
            if (parseInt(file.index) <= 1) window.location.href= '#slide-' + files.length;
            else window.location.href = '#slide-' + (parseInt(file.index) - 1);
          };

          let next = document.createElement('button');
          next.innerText = 'Next';
          footer.appendChild(next);
          next.onclick = (event) => {
            if (parseInt(file.index) >= files.length) window.location.href= '#slide-1';
            else window.location.href = '#slide-' + (parseInt(file.index) + 1);
          };

          let text = document.createElement('div');
          let title = document.createElement('h2');
          let index = document.createElement('p');
          let description = document.createElement('p');
          text.className = 'text';
          index.className = 'index';
          title.className = 'title';
          description.className = 'description';
          index.innerText = file.index;
          title.innerText = file.title;
          description.innerHTML = file.description;
          text.appendChild(index);
          text.appendChild(title);
          text.appendChild(description);

          let image = document.createElement('div');
          image.className = 'image';
          image.style.backgroundImage = 'url(' + file.img.src + ')';

          content.appendChild(text);
          content.appendChild(image);

          slide.appendChild(header);
          slide.appendChild(content);
          slide.appendChild(footer);

          screen.appendChild(slide);
        });
      });
    };
  </script>
{% endblock %}
