{% extends "layout.html" %}
{% from "_macros.html" import aside, tinymce with context %}
{% from "gallery/_macros.html" import nav, header with context %}

{% block head %}
  {{ super() }}
  {{ tinymce() }}
{% endblock %}

{% block aside %}
  {{ aside() }}
{% endblock %}

{% block nav %}
  {{ nav('edit') }}
{% endblock %}

{% block header %}
  {{ header() }}
{% endblock %}

{% block section %}
  <section id="gallery" class="content edit">
    <h2 class="top"><a id="return" class="back" href="{{ url_for('gallery.show') }}">Zurück</a></h2>
    <h2>{{ file.title }}</h2>

    <section class="file">
      <img src="{{ url_for('gallery.download', uid = file.uid) }}">
    </section>

    <nav>
      <form action="{{ url_for('gallery.download', uid = file.uid) }}" method="get">
        <input type="submit" value="Download">
      </form>
    </nav>

    <form action="{{ url_for('gallery.edit', uid = file.uid) }}" method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

      <div class="group">      
        <fieldset class="error">
          <label>Title:</label>
          <input type="text" name="title" value="{{ file.title }}" autofocus required>
          <p class="error">A precise title</p>
        </fieldset>
  
        <fieldset>
          <label>Description:</label>
          <textarea type="text" name="description">{{ file.description }}</textarea>
        </fieldset>
  
        <fieldset>
          <label>Category:</label>
          <input type="text" name="category" value="{{ file.category }}" required>
          <select class="helper" onchange="handle_select_helper(event);">
            <option value="0" selected disabled>Select category ...</option>
            {% for option in categories %}
              <option>{{ option.category }}</option>
            {% endfor %}
          </select>
        </fieldset>

        <fieldset>
          <input type="submit" value="Edit">
        </fieldset>
      </div>
    </form>

    <nav>
      <form action="{{ url_for('gallery.delete', uid = file.uid) }}" method="post" onsubmit="handle_delete_check(event);">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="submit" value="Delete">
      </form>
    </nav>
  </section>

  <script>
    let hash = window.location.hash.substr(1);
    let ret = document.getElementById('return');
    ret.href = ret.href + `#${hash}`;
  </script>
{% endblock %}
