{% extends "layout.html" %}
{% from "_macros.html" import aside, upload with context %}
{% from "gallery/_macros.html" import nav, header with context %}

{% block aside %}
  {{ aside() }}
{% endblock %}

{% block nav %}
  {{ nav('show') }}
{% endblock %}

{% block header %}
  {{ header() }}
{% endblock %}

{% block section %}
  <section id="gallery" class="show">
    {% for category in files %}
      {% set index = loop.index %}
      <h2>{{ category.name }}</h2>
      <section id="gc{{ index }}" class="categories gc{{ index }}">
        {% for file in category.files %}
          <div class="item">
            <a href="{{ url_for('gallery.download', uid = file.uid) }}" title="{{ file.title }}">
            <section style="background-image: url('{{ url_for('gallery.thumbnail', uid = file.uid) }}');">
            </section>
            </a>
            <nav>
              <form action="{{ url_for('gallery.edit', uid = file.uid, _anchor = 'gc' ~ index) }}" method="get">
                <input type="submit" value="Edit">
              </form>
            </nav>
          </div>
        {% endfor %}
      </section>

      <script>
        new SimpleLightbox({ elements: '.gc{{ index }} a'});
      </script>
    {% endfor %}
  </section>
{% endblock %}
