{% macro nav(target) %}
  <section id="nav">
    <div>
      <form action="/tools/multimedia" method="get">
        <button type="submit">Multimedia</button>
      </form>
    </div>
    <div>
      <form action="/logout" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <button type="submit">Exit</button>
      </form>
    </div>
  </section>
{% endmacro %}

{% macro header() %}
  <input class="menu" type="checkbox" name="headup" />
  <section id="category">
    <form action="/tools/multimedia/add" method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <fieldset>
        <input type="submit" value="Create Media" />
      </fieldset>
    </form>
  </section>
{% endmacro %}
