#!/bin/sh

PATH="/home/minicloud/bin"
DAEMON="/home/minicloud/bin/uwsgi -- --ini /home/minicloud/minicloud.ini"
NAME="minicloud"
DESC="Minicloud Webservice"
PID="/run/minicloud.pid"
TZ="Europe/Berlin"

. /lib/lsb/init-functions

start_minicloud() {
  /sbin/start-stop-daemon -c minicloud:www-data --start --pidfile $PID --exec $DAEMON
}

case "$1" in
  start)
    log_daemon_msg "Starting $DESC" "$NAME"
    start_minicloud
  ;;
esac
