server {

  listen 80 default_server;
  listen [::]:80 default_server;

  server_name _;
  client_max_body_size 0;
  client_body_timeout 300s;

  location / {
    include uwsgi_params;
    uwsgi_read_timeout 600s;
    uwsgi_send_timeout 300s;
    uwsgi_pass unix:/home/minicloud/minicloud.sock;
  }

}

# Proxy local Minidlna
server {
  listen 8290 default_server;
  listen [::]:8290 default_server;
  server_name _;

  location / {
    add_header 'Access-Control-Allow-Origin' '*';
    add_header 'Access-Control-Expose-Headers' 'Content-Length,Content-Range';
    proxy_pass http://127.0.0.1:8200;
  }
}
