server {
  listen 80;
  listen [::]:80;
  server_name minicloud.example.com;
  return 301 https://$host$request_uri;
}

server {
  listen 443 ssl;
  listen [::]:443 ssl;
  server_name minicloud.example.com;
  client_max_body_size 0;
  client_body_timeout 300s;

  ssl_certificate /etc/letsencrypt/minicloud.example.com/minicloud.example.com.cer;
  ssl_certificate_key /etc/letsencrypt/minicloud.example.com/minicloud.example.com.key;

  location / {
    include uwsgi_params;
    uwsgi_read_timeout 600s;
    uwsgi_send_timeout 300s;
    uwsgi_pass unix:/var/minicloud/service/minicloud.sock;
  }
}

# Proxy local Minidlna
server {
  listen 8290 default_server;
  listen [::]:8290 default_server;
  server_name _;

  location / {

    if ($args ~ 'auth=([\d\w]+)') {
      set $auth $1;
    }

    if ($http_x_auth_token) {
      set $auth $http_x_auth_token;
    }

    auth_request /auth;
    auth_request_set $auth_status $upstream_status;
    postpone_output 0;
    proxy_cache off;
    proxy_pass http://127.0.0.1:8200;
    add_header 'Access-Control-Allow-Origin' '*';
  }

  location = /auth {
    internal;

    proxy_pass http://127.0.0.1/auths/verify;
    proxy_pass_request_body off;
    proxy_set_header Content-Length '';
    proxy_set_header X-Original-URI $request_uri;
    proxy_set_header X-Auth-Token $auth;
  }
}
