{% macro aside() %}
  <div>
    <fieldset>
      <form action="/uploads" method="get">
        <input type="submit" value="Uploads">
      </form>
    </fieldset>

    <fieldset>
      <form action="/gallery" method="get">
        <input type="submit" value="Gallery">
      </form>
    </fieldset>

    <fieldset>
      <form action="/tasks" method="get">
        <input type="submit" value="Tasks">
      </form>
    </fieldset>

    <fieldset>
      <form action="/notes" method="get">
        <input type="submit" value="Notes">
      </form>
    </fieldset>

    <fieldset>
      <form action="/multimedia" method="get">
        <input type="submit" value="Multimedia">
      </form>
    </fieldset>

    <fieldset>
      <form action="/profile" method="get">
        <input type="submit" value="Profile">
      </form>
    </fieldset>

    {% if current_user.admin %}
      <fieldset>
        <form action="/users" method="get">
          <input type="submit" value="Users">
        </form>
      </fieldset>
    {% endif %}

    <fieldset>
      <form action="/logout" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="submit" value="Logout">
      </form>
    </fieldset>
  </div>
{% endmacro %}

{% macro lightbox() %}
  <link href="{{ url_for('static', filename='libs/lightbox/simpleLightbox.min.css') }}" media="all" rel="stylesheet" type="text/css">
  <script src="{{ url_for('static', filename='libs/lightbox/simpleLightbox.min.js') }}"></script>
{% endmacro %}

{% macro tinymce() %}
  <script src="{{ url_for('static', filename='libs/tinymce/tinymce.min.js') }}"></script>
  <script>
    tinymce.init({ selector: 'textarea'
                 , height: 150
                 , visual: false
                 , plugins: ['autolink paste table lists link codesample']
                 , menubar: 'edit format insert view'
                 , toolbar: 'formatselect | bold italic | alignleft aligncenter alignright | bullist | outdent indent'
                 , menu: { edit: {title: 'Edit', items: 'undo redo'}
                         , format: {title: 'Format', items: 'bold italic underline strikethrough'}
                         , insert: {title: 'Insert', items: 'inserttable codesample'}
                         , view: {title: 'View', items: 'fullscreen'}
                         }
                 });
</script>
{% endmacro %}
