{% from "_page.html" import head, disclaimer with context %}
{% block html %}
<!Doctype html>
<html>
  <head>
    {% block head %}
      {{ head() }}
    {% endblock%}
  </head>

  <body>
    <aside>
      <div>
        <input class="toggle" type="checkbox" name="aside">
        <nav onclick="toggle('aside');">
          {% block aside %}
          {% endblock %}
        </nav>
        <section onclick="toggle('aside');"><p></p></section>
      </div>
    </aside>

    <main>
      <header>
        <nav>
          {% block nav %}
          {% endblock %}
        </nav>
        {% block header %}
        {% endblock %}
      </header>
      
      <section id="alert" onclick="alert_clear();">
        <div>
          <noscript>
            Please use a browser with support of leading edge javascript technology
          </noscript>
        </div>
      </section>

      <section id="progress">
        <div>
          <p>100%</p>
        </div>
      </section>

      {% block section %}
      {% endblock %}

      <footer>
        <section>
          {% block footer %}
          {% endblock %}
        </section>
        {{ disclaimer() }}
      </footer>

      <script type="module">
        window.flash = document.getElementById('alert');
        window.flash_inner = document.querySelector('#alert > div');

        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            let messages = {{ messages | tojson }};
            let [a, info] = messages.filter(([type, msg]) => type == 'info').flat();
            let [b, error] = messages.filter(([type, msg]) => type == 'error').flat();
            console.log(info);
            alert_update(info, error);

          {% else %}
            alert_clear();

          {% endif %}
        {% endwith %}
      </script>
    </main>
  </body>
</html>
{% endblock %}
