{% from "_page.html" import head, disclaimer with context %}
{% block html %}
<!Doctype html>
<html>
  <head>
    {% block head %}
      {{ head() }}
    {% endblock%}
  </head>

  <body>
    <main>
      <header>
        <section>
          {% block header %}
          {% endblock %}
        </section>
      </header>

      {% block section %}
      {% endblock %}

      <footer>
        <section>
          {% block footer %}
          {% endblock %}
        </section>
        {{ disclaimer() }}
      </footer>
    </main>
  </body>
</html>
{% endblock %}
