#main {
  border: 1px solid #cecece;
  border-radius: 5px;
  height: 100%;
  overflow: hidden;
}

#main > .slide .animation {
  width: 100%;
}

#main > .slide .progress {
  position: relative;
  width: 80%;
  height: 160px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #cecece;
  border-radius: 5px;
  box-sizing: border-box;
}

#main > .slide .progress .bar {
  box-sizing: border-box;
  width: 0%;
  height: 100%;
  background-color: #5c92ae;
}

#main > .slide .progress .status {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  font-size: 2.5em;
  transform: translateY(-50%);
  text-align: center;
  color: #5c92ae;
  text-shadow: -1px 1px 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff, -1px -1px 0 #fff;
  background-color: transparent;
}

#main > .slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#main > .slide > .footer,
#main > .slide > .header {
  flex-grow: 0;
  width: 100%;
  height: 33px;
}

#main > .slide > .footer button,
#main > .slide > .header button {
  width: calc(100% - 4px);
padding: 5px;
margin: 2px;
color: #fff;
box-sizing: border-box;
background-color: #333;
border-radius: 5px;
text-align: center;
}

#main > .slide > .content {
  flex-grow: 0;
  width: 100%;
  height: calc(100% - 66px);
  display: flex;
  flex-direction: row;
}

#main > .slide > .content > div {
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  margin: 10px;
  padding: 10px;
}

#main > .slide > .content > div.text {
  position: relative;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  height: calc(100% - 30px);
  overflow: hidden;
  overflow-y: auto;
}

#main > .slide > .content > div.text > h2.title {
  margin-bottom: 10px;
}

#main > .slide > .content > div.text > p.index {
  position: absolute;
  top: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  border: 0.5px solid #000;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 0 0 1px 0px black inset, 0 0 1px 0px black;
}

#main > .slide > .content > div.image {
  box-sizing: border-box;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

#main > .slide .footer {
  width: 100%;
}
