#main {
  border: 1px solid #cecece;
  border-radius: 5px;
  height: 100%;
  overflow: hidden;
}

#main > .slide .animation {
  width: 100%;
}

#main > .slide .progress {
  position: relative;
  width: 80%;
  height: 160px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #cecece;
  border-radius: 5px;
  box-sizing: border-box;
}

#main > .slide .progress .bar {
  box-sizing: border-box;
  width: 0%;
  height: 100%;
  background-color: #5c92ae;
}

#main > .slide .progress .status {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  font-size: 2.5em;
  transform: translateY(-50%);
  text-align: center;
  color: #5c92ae;
  text-shadow: -1px 1px 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff, -1px -1px 0 #fff;
  background-color: transparent;
}

#main > .slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#main > .slide > .footer,
#main > .slide > .header {
  flex-grow: 0;
  width: 100%;
  height: 33px;
}

#main > .slide > .footer button,
#main > .slide > .header button {
  width: calc(100% - 4px);
  padding: 5px;
  margin: 2px;
  color: #fff;
  box-sizing: border-box;
  background-color: #333;
  border-radius: 5px;
  text-align: center;
}

#main > .slide > .content {
  position: relative;
  width: 100%;
  height: 100%;
}

#main > .slide > .content > div {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

#main > .slide > .content > div.text {
  display: none;
  background-color: transparent;
  background-color: #fff;
  z-index: 100;
  margin: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  min-width: 300px;
  max-width: 320px;
  max-height: 350px;
  overflow: auto;
  border: 2px solid #000;
  border-radius: 5px;
  box-shadow: 3px 3px 15px #000;
  box-sizing: border-box;
  padding: 10px;
}

#main > .slide > .content > div.text.show {
  display: block;
}

#main > .slide > .content > div.text * {
  background-color: transparent;
}

#main > .slide > .content > div.text p.index {
  width: 25px;
  height: 25px;
  border: 1px solid #000;
  border-radius: 50%;
  box-shadow: 0 0 1px 0px #000 inset, 0 0 1px 0px #000;
  text-align: center;
  line-height: 25px;
  font-size: 90%;
  margin-bottom: 5px;
}

#main > .slide > .content > div.image {
  box-sizing: border-box;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgba(200, 200, 255, .1);
  margin: 0;
  padding: 0;
}

#main > .slide .footer {
  width: 100%;
}

.markdown ul {
  list-style: inside;
}
