@font-face {
  font-family: 'LatoWeb';
  src: url('../fonts/Lato-Regular.eot');
  src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Lato-Regular.woff') format('woff'),
       url('../fonts/Lato-Regular.woff2') format('woff2'),
       url('../fonts/Lato-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

html,
body,
header,
main,
footer,
section,
nav,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
span,
a,
form,
fieldset,
label,
input,
button,
textarea,
select {
  margin: 0;
  padding: 0;
  font-family: 'LatoWeb';
  font-size: 1em;
  color: #000;
  background-color: #fff;
  border: 0;
  border-radius: 0;
  outline: 0;
}

html, body {
  width: 100%;
  height: 100%;
  min-width: 340px;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: row;
}

a, a:hover, a:visited, a:active, a:focus {
  text-decoration: none;
  font-weight: normal;
  background-color: transparent;
  cursor: pointer;
  padding-top: 2px;
  padding-bottom: 2px;
}

a.back {
  font-weight: bold;
}

a.back::before {
  display: inline-block;
  height: 12px;
  width: 15px;
  content:'';
  background-image: url('../icons/double-left.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

a.action::before {
  display: inline-block;
  height: 12px;
  width: 15px;
  content:'';
  background-image: url('../icons/double-right.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

button {
  cursor: pointer;
}

img {
  width: 100%;
}

form {
  display: contents;
  background-color: transparent;
}

form > div.group {
  background-color: #f8f8ff;
}

fieldset > label,
.target:target {
  display: block;
}

section#searchnotes section.results section.item.template,
body > main > header > input:not(:checked) + section,
fieldset > label.checkbox input,
input.toggle,
.target:not(:target) {
  display: none;
}

audio, video {
  width: 100%;
  max-width: 100%;
}

textarea {
  width: 100%;
}

input[type=submit],
input[type=text],
input[type=number],
input[type=email],
input[type=password],
input[type=file],
input[type=date] {
  width: 100%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  cursor: pointer;
}

section#notes.show > nav input[type=submit]:disabled,
section#notes.show > nav button:disabled,
input[type=submit]:disabled {
  color: #888;
  background-color: #333;
}

input[type=submit]:valid {
  color: rgba(255, 255, 255, 1);
  background-color: #333;
}

input[type=submit].active {
  background-color: #de1f1f;
}

input[type=submit].info {
  background-color: #99cc33;
}


fieldset textarea:valid,
fieldset textarea:invalid,
fieldset input:valid,
fieldset input:invalid {
  outline: 0;
  box-shadow: none;
}

fieldset textarea:invalid:focus,
textarea textarea.required:invalid,
fieldset input:invalid:focus,
fieldset input.required:invalid {
  outline: 0;
  box-shadow: none;
  border-color: #de1f1f;
  border-width: 2px;
}

fieldset textarea + p.error,
fieldset input + p.error {
  display: none;
}

fieldset textarea.required:invalid + p.error,
fieldset input.required:invalid + p.error {
  display: block;
  color: #de1f1f;
}

fieldset select {
  width: 100%;
  cursor: pointer;
}

fieldset select.helper {
  border: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  cursor: pointer;
}
