{% macro nav(target) %}
  {% if target == "show" %}
    <form onsubmit="event.preventDefault();">
      <button onclick="toggle('adduser');">New User</button>
    </form>
  {% endif %}
{% endmacro %}

{% macro header() %}
  <input class="toggle" type="checkbox" name="adduser">
  <section id="adduser">
    <form action="{{ url_for('users.add') }}" method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

      <div class="group">
        <fieldset class="error">
          <label>Username:</label>
          <input class="focus" type="text" name="username" autocomplete="username" required>
          <p class="error">A unique username</p>
        </fieldset>

        <fieldset class="error">
          <label>E-Mail:</label>
          <input type="email" name="email" autocomplete="email" required>
          <p class="error">A valid contact address</p>
        </fieldset>

        <fieldset>
          <label class="checkbox">
            <input type="checkbox" name="admin">
            <p>Give this user admin privileges</p>
          </label>
        </fieldset>

        <fieldset>
          <input type="submit" value="New Users">
        </fieldset>
      </div>
    </form>
  </section>
{% endmacro %}
