{% extends "layout.html" %}
{% from "_macros.html" import nav, aside with context %}
{% from "users/_macros.html" import nav, header with context %}
  {% block body %}
     {{ aside() }}
  {% endblock %}

  {% block nav %}
    {{ nav("edit") }}
  {% endblock %}

  {% block header %}
    {{ header() }}
  {% endblock %}

  {% block main %}
    {{ super() }}
    <section id="edit_user">
      <form action="/users/edit/{{ user.id }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
         
        <fieldset>
          <label>Name.</label>
          <input type="text" name="name" value="{{ user.name }}" required />
        </fieldset>

        <fieldset>
          <label>Email.</label>
          <input type="email" name="email" value="{{ user.email }}" required />
        </fieldset>

        <fieldset>
          <div class="checkbox">
            <label class="checkbox">
              <input type="checkbox" name="admin" {{ "checked" if user.admin }} />
              <p>Give this user admin privileges</p>
            </label>
          </div>

          <div class="checkbox">
            <label class="checkbox">
              <input type="checkbox" name="disabled" {{ "checked" if user.disabled }} />
              <p>Disable the account</p>
            </label>
          </div>
        </fieldset>

        <fieldset>
          <input type="submit" value="Edit User" />
        </fieldset>
      </form>
    </section>

    <section id="new_activation">
      <form action="/users/reset/{{ user.id }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

        <fieldset>
          <input type="submit" value="New activation key" />
        </fieldset>
      </form>
    </section>
   
    {% if not user.admin %}
      <section id="delete_user">
        <form action="/users/delete/{{user.id}}" method="post">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

          <fieldset>
            <input type="submit" value="Delete" />
          </fieldset>
        </form>
      </section>
    {% endif %}
  {% endblock %}

  {% block footer %}
    {{ super() }}
  {% endblock %}

