{% extends "layout.html" %}

{% block aside %}
{% endblock %}

{% block nav %}
  <form onsubmit="event.preventDefault();">
    <button onclick="toggle('activation');">Activation / Reset</button>
  </form>
{% endblock %}

{% block header %}
  <input class="toggle" type="checkbox" name="activation" />
  <section id="activation">
    <form action="/register" method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <div class="group">
        <fieldset class="error">
          <label>E-Mail:</label>
          <input class="focus" type="email" name="email" autocomplete="email" required>
          <p class="error">The registered address</p>
        </fieldset>

        <fieldset class="error">
          <label>Activation code:</label>
          <input type="text" name="code" autocomplete="one-time-code" required>
          <p class="error">The related activation code</p>
        </fieldset>

        <fieldset class="error">
          <label>Password:</label>
          <input type="password" name="password" autocomplete="new-password" minlength="6" maxlength="42" required>
          <p class="error">A password of at least 6 chars</p>
        </fieldset>

        <fieldset class="error">
          <label>Confirmation:</label>
          <input type="password" name="confirmation" autocomplete="new-password" required>
          <p class="error">Repeating the password</p>
        </fieldset>

        <fieldset>
          <input type="submit" value="Activate / Reset" />
        </fieldset>
      </div>
    </form>
  </section>
{% endblock %}

{% block section %}
  <section id="login">
    <form action="/login" method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <input type="hidden" name="page" value="{{ page }}">

      <div class="group">
        <fieldset class="error">
          <label>Username:</label>
          <input type="text" name="username" autocomplete="username" autofocus required>
          <p class="error">A username</p>
        </fieldset>

        <fieldset class="error">
          <label>Password:</label>
          <input type="password" name="password" autocomplete="current-password" required>
          <p class="error">A matching password</p>
        </fieldset>
      </div>

      <fieldset>
        <input type="submit" value="Login" />
      </fieldset>
    </form>
  </section>
{% endblock %}
