{% macro nav(target) %}
  {% if target == "show" %}
    <form onsubmit="event.preventDefault();">
      <button onclick="toggle('addtask');">New Task</button>
    </form>
  {% endif %}
{% endmacro %}

{% macro header() %}
  <input class="toggle" type="checkbox" name="addtask" />
  <section id="addtask">
    <form action="/tasks/add" method="post">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <h2>Today: {{ today }}</h2>
       
      <div class="group">      
        <fieldset>
          <label>Title:</label>
          <input class="focus" type="text" name="title" required />
        </fieldset>
  
        <fieldset>
          <label>Deadline:</label>
          <input type="date" name="deadline" />
        </fieldset>
        
        <fieldset>
          <label>Category:</label>
          <input type="text" name="category" value="Week {{ week }}" required />
          <select class="helper" onchange="handle_select_helper(event);">
            <option value="0" selected disabled>Select category ...</option>
            {% for option in categories %}
              <option>{{ option.category }}</option>
            {% endfor %}
          </select>
        </fieldset>
  
        <fieldset>
          <label>Description:</label>
          <textarea name="description"></textarea>
        </fieldset>
        
        <fieldset>
          <input type="submit" value="Create Task">
        </fieldset>
      </div>
    </form>
  </section>
{% endmacro %}
