{% extends "layout.html" %}
{% from "_macros.html" import aside, tinymce with context %}
{% from "tasks/_macros.html" import nav, header with context %}
  {% block head %}
     {{ super() }}
     {{ tinymce() }}
  {% endblock %}
  {% block body %}
     {{ aside() }}
  {% endblock %}
  {% block nav %}
    {{ nav("edit") }}
  {% endblock %}
  {% block header %}
    {{ header() }}
  {% endblock %}
  {% block main %}
    {{ super() }}
    <section id="last">
      <p>Last: {{ task.modified }}</p>
    </section>
    <section id="edit_task">
      <form action="/tasks/edit/{{ task.id }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <input type="hidden" name="task_status" value="{{ task.task_status }}" />
        <input type="hidden" name="task_datetime" value="{{ task.task_datetime }}" />
         
        <fieldset>
          <label>State.</label>
          <select name="status" required>
            {% for state in config.tasks.states %}
              <option value="{{state}}" {{ "selected" if task.status == state }}>{{state|title}}</option>
            {% endfor %}
          </select>
        </fieldset>

        <fieldset>
          <label>Description.</label>
          <input type="text" name="description" value="{{ task.description }}" required />
        </fieldset>

        <fieldset>
          <label>Category.</label>
          <input tpye="text" name="category" value="{{ task.category }}" required />
          <select class="sub">
            <option value="0" selected disabled>Select category ...</option>
            {% for option in categories %}
              <option>{{ option.title }}</option>
            {% endfor %}
          </select>
        </fieldset>

        <fieldset>
          <label>
            <p>Deadline.</p>
          </label>
          <input type="date" name="due" value="{{task.due}}" />
        </fieldset>

        <fieldset>
          <label>
            <p>Annotations.</p>
          </label>
          <textarea name="annotation">{{ task.annotation if task.annotation }}</textarea>
        </fieldset>

        <fieldset>
          <input type="submit" value="Edit Task" />
        </fieldset>
      </form>
    </section>

    <section id="delete_task">
      <form action="/tasks/delete/{{task.uid}}" method="post">
        <fieldset>
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          <input type="submit" value="Delete" />
        </fieldset>
      </form>
    </section>
  {% endblock %}

  {% block footer %}
    {{ super() }}
  {% endblock %}

